.bold {
    font-weight: bold;
}

.header-title {
    font-size: 3rem;
    padding: 5px;
    font-weight: bold;
    color: white;
}
.content-header {
    margin-top: 120px;
    z-index: 1;
    text-align: center;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    background-color: #797979;
}

.avatar {
    border: 2px solid gray;
}

#mainNav .navbar-brand img {
    height: 50px;
}

@media (min-width: 992px) {
    #mainNav.navbar-shrink {
        padding-top: 1rem;
        padding-bottom: 1rem;
        background-color: #ffffff;
    }

    #mainNav .navbar-nav .nav-item .nav-link {
        color: #000000;
    }

    #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link {
        color: #000000;
    }

    #mainNav .navbar-brand img {
        height: 80px;
    }

    #mainNav.navbar-shrink .navbar-brand svg, #mainNav.navbar-shrink .navbar-brand img {
        height: 75px;
    }
}
